@import url("./style.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/* Retirando todo o estilo que já existe na página HTML */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Retirando os estilos das tags de link */
a {
  text-decoration: none;
}

/* Definindo um estilo padrão para todos os spans */
span {
  color: var(--cor-principal);
}

:root {
  /* VARIAVEIS GLOBAIS */
  --cor-principal: #2967a2;
  --cor-mudada: #69aceb;
  --cor-sublinhado: white;
  --cor-texto: white;
  --cor-branca: white;

  /* VARIAVEIS DO HEADER */
  --header-height: 4.5rem;
  --background-buttom: white;

  /* VARIAVEIS HOME */
  --cor-paragrafo: #777777;

  /* COR DO TITULO DOS SERVICOS */
  --cor-titulo-servico: #333333;

  --box-shadow: rgba(41, 103, 162, 0.15);
}
